@media (max-width: 1232px) {
  .ip-details-container {
    left: 50%;
    padding: 35px 30px;
  }
}
@media (max-width: 1110px) {
  .ip-details-container {
    padding: 25px 20px;
    grid-template-columns: repeat(2, 213px);
    text-align: center;
  }
  .ip {
    border-right: none;
  }
  .ip-details-content {
    font-size: 23px;
  }
}
@media (max-width: 975px) {
  .ip-details-container {
    font-size: 20px;
  }
  .ip {
    border-right: none;
    text-align: center;
  }
}
@media (max-width: 690px) {
  .ip-details-container {
    grid-template-columns: 1fr;
    border-right: none;
    top: 40%;
  }
  .ip-details-content {
    border-right: none;
    font-size: 22px;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .input-container {
    width: 100%;
  }
  .ip-details-container {
    font-size: 18px;
    padding: 20px;
  }
  .ip-details-content {
    font-size: 18px;
    margin-top: 7px;
  }
  .input-container {
    width: 327px;
  }

  .input-container {
    width: 100%;
  }
  ::placeholder {
    font-size: 13px;
    font-weight: bold;
  }
  @media (max-width: 400px) {
    .ip-details-container {
      top: 40%;
      padding: 33px 106px;
      gap: 24px;
    }
  }
}
